.centered {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}
.box-shadow-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.dislocater {
    visibility: hidden !important;
}

.new-product-element {
    background: white;
    position: relative;
    text-align: center;
    padding: 2%;
}

#carouselExampleIndicators > a.carousel-control-next > span.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%50fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

#carouselExampleIndicators > a.carousel-control-prev > span.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%50fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

h3 {
    color: #007bff;
}

.carousel-indicators li {
    background-color: blue !important;
}

.footer-bg {
    background: url(../images/contact_me_bg.jpg) repeat !important;
}

.back-btn {
    width: 100%;
    height: 50px !important;
    margin-bottom: 10px;
}

h2 {
    color: #f6edd8;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 0px;
    padding-bottom: 2px;
}

.list-group a:hover {
    cursor:pointer;
    transform: scale(1.01);
    font-weight: bold;
}