#productSearchInput {
    background-image: url('https://www.w3schools.com/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    float: right;
  }

  .spinners-hide {
    visibility: hidden;
  }

  .spinners-show {
    visibility: visible;
  }

  #progressContainer {
    margin: 5px;
  }

 table tbody tr td img {
   max-width: 64px;
   max-height: 64px;
   margin-left: 0px !important;
   margin-right: 0px !important
 }

 table tbody tr:hover {
   cursor: pointer;
   background-color: rgba(80, 141, 255, 0.24);
 }